* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(185, 75%, 39%);
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: url(../images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    background-position: -75% -500px, 150% 300px;
    background-repeat: no-repeat;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
}

.attribution {
    margin-top: -50px;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.card {
    position: relative;
    background-color: white;
    text-align: center;
    padding: 0px;
    border-radius: 15px;
    margin-left: 5%;
}

.card-head {
    background-image: url(images/bg-pattern-card.svg);
    padding: 50px 120px;
    border-radius: 15px 15px 0 0;
}

.pic {
    border-radius: 50%;
    position: relative;
    top: 100px;
}

.name-tag {
    margin-top: 20%;
}

.name-tag::after {
    display: block;
    height: 2px;
    background-color: hsl(0, 0%, 59%);
    content: " ";
    width: 400px;
    margin-top: 60px;
}

h1 {
    color: hsl(229, 23%, 23%);
}

h2 {
    margin-top: 10px;
    color: hsl(0, 0%, 59%);
    margin-bottom: 20px;
    font-size: 18px;
}

h3 {
    color: hsl(229, 23%, 23%);
    font-size: 20px;
}

h4 {
    color: hsl(0, 0%, 59%);
}

span {
    font-weight: 300;
    color: hsl(0, 0%, 59%);
    margin-left: 5px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

@media only screen and (max-width:767px) {
    .body {
        overflow-y: hidden;
    }
    .card {
        /*position: relative;
        top: 0;
        right: 10px;*/
        margin-top:-10px;
        padding: 10px;
    }
}
